<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Success</title>
    <style>
        body {
            background-image: url("/images/23614.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
<div class="centered-content">
    <div class="container">
        <div class="center-content">
            <h1>Verification Success</h1>
            <p>Your OTP has been successfully verified.</p>
            <a href="/login" class="button">Login</a>
        </div>
    </div>
</div>
</body>
</html>
